<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team_member.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team_member.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @team_member.image_url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team_member.email %>
</p>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
