<!DOCTYPE html>
<html>
<head>
  <title>EstateAgents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>ESTATE AGENT NAME OR LOGO</h1>
  <span>Some strapline</span>
  <p>1 The Street<br />TownName<br />County<br />PostCode<br /><span>Tel</span></p>
  <nav>
    <ul>
      <li>
        <%= link_to "Home", controller: :welcome, action: :index %>
      </li>
      <li>
        <%= link_to "Our Team", controller: :team_members, action: :index %>
      </li>
      <li>
        <%= link_to "Properties For Sale", controller: :properties, action: :index %>
      </li>
    </ul>
  </nav>
</header>
<hr>
<%= yield %>
<hr>
<footer>
  <div>
    <h2>Meet the team</h2>
    <%= render 'team_members/member', title: "Meet the team" %>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">FooterLink1</a>
      </li>
      <li>
        <a href="#">FooterLink2</a>
      </li>
      <li>
        <a href="#">FooterLink3</a>
      </li>
    </ul>
  </nav>
  <ul>
    <li>
      <a href="#">Facebook</a>
    </li>
    <li>
      <a href="#">Twitter</a>
    </li>
    <li>
      <a href="#">G+</a>
    </li>
  </ul>
  <p>Footer text goes here</p>
</footer>
</body>
</html>
